<p id="notice"><%= notice %></p>

<h1>Signins</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
    </tr>
  </thead>

  <tbody>
    <% @signins.each do |signin| %>
      <tr>
        <td><%= signin.picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signin', new_signin_path %>
