<div class="container">
  <div class="jumbotron">
    <img src="images/sep.png">
    <h1 class="display-4">Welcome to Rush, Sign In</h1>
    <p class="lead">
      We use this sign in page to keep track of everyone who has come to rush. Sign in even if you have on a previous day. We can keep track of who you are. After signing in, be sure to get to know the active members and other rushees.
    </p>
    <!-- Step 1. Photo -->
    <div class="row marketing">
      <div class="row">
        <div class="col-sm-12">
            <h2 class="text-xs-left">1. Your Photo<br />
            <small class="text-muted">Don't aim for perfection. Make sure we can see your nametag.</small></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="cam-container">
            <video id="video">Video stream not available.</video>
            <canvas id="canvas"></canvas>
            <div class="output">
              <img id="photo" alt="The screen capture will appear in this box.">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button id="startbutton" class="btn btn-primary btn-lg btn-block">Take photo</button>
        </div>
      </div>
    </div>

    <!-- Step 2. Information -->
    <div class="row marketing">
      <div class="row">
        <h2 class="text-xs-left">2. Your Name & Email<br />
          <small class="text-muted">So we can get a hold of you.</small></h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">First Name</span>
              <input type="text" class="form-control" placeholder="What do people call you?" aria-describedby="sizing-addon1">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">Last Name</span>
              <input type="text" class="form-control" placeholder="What your friends call your parents after Mr. Or Ms." aria-describedby="sizing-addon1">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon2">Email</span>
              <input type="text" class="form-control" placeholder="Where we send your important emails?" aria-describedby="sizing-addon2">
            </div>
          </div>
        </div>
      </div>
      <!-- Step 3. Go! -->
      <div class="row">
        <div class="col-xs-12">
            <button id="submitbutton" class="btn btn-success btn-lg btn-block">Sign Me In!</button>
        </div>
      </div>
    </div>

  </div>

</div> <!-- /container -->
<%= stylesheet_link_tag    'signin', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'signin', 'data-turbolinks-track': 'reload' %>
